<%- include('includes/header') %>

  <%- include('includes/nav') %>

    <div class="container my-5">

      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h1 class="display-5 text-center mb-4"> Página de login</h1>          

          <%- include('includes/messages') %>
        </div>

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <form action="/login" method="POST" class="border rounded p-4 shadow-sm bg-light">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>

              <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
            <div class="col-lg-6 my-4">
              <p>Se você não tem conta, clique <span><a href="/register">aqui</a></span> e crie sua conta.</p>
            </div>
          </div>

        </div>

      </div>


      <%- include('includes/footer') %>